body {
	padding: 0 70px;
}
header {
	position: fixed;
	left: 50%;
    top: 9px;
    transform: translate(-50%);
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	background-color: grey;
}
.header-nav {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu-search {
	display: flex;
	justify-content: space-between;
}
.header-nav ul li {
	display: inline-block;
}
.search-icon {
	height: 26px;
	width: 26px;
}
.search-input {
	display: none;
}

.container {
	margin: 108px auto;
	max-width: 1200px;

}
.slider {
	width: 100%;
}
.slides {
	display: none;/*
	max-width: 1640px;*/
	width: 100%;
}
img {
	width: 100%;
}